header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 15px 30px;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(255, 0, 0, 0.4);
}

nav {
  display: flex;
  align-items: center;
}

nav a,
nav h1 {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav h1 {
  color: #ff0000;
  font-weight: 700;
}

nav a:hover {
  color: #ff0000;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6),
    0 0 40px rgba(255, 0, 0, 0.4), 0 0 60px rgba(255, 0, 0, 0.2);
}
